.App-body {
  position: relative;
  background-color: #fff;
  height: 500px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}

.background {
    position: absolute;
    height: auto;
    min-height: 100%;
    width: 100%;
    margin: 0;
    pointer-events: none;
}
