.chat-wrapper {
  clear: both;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.message-container {
  overflow-y: auto;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  text-align: center;
  border-bottom: none !important;
  flex-grow: 2;
}

.message-bubble {
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  position: relative;
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  max-width: 70%;
}

.message-bubble .embedded-media {
  max-width: 100%;
}
.message-row {
  clear: both;
  margin: 0.75rem;
  display: flex;
}

.message-row[data-origin="system"] + .message-row:not([data-origin="system"]),
.message-row:not([data-origin="system"]) + .message-row[data-origin="system"] {
  margin-top: 0.3rem;
}

.message-row .before,
.message-row .after {
  min-width: 1%;
}

.message-row[data-origin="sending"] {
  opacity: 75%;
}

.message-row[data-origin="sending"] .before,
.message-row[data-origin="sent"] .before,
.message-row[data-origin="received"] .after,
.message-row[data-origin="system"] .before,
.message-row[data-origin="system"] .after {
  flex-grow: 2;
  min-width: 10%;
}

.message-row:hover .reply-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.message-row:not(:hover) .reply-btn {
  display: none;
}

.message-bubble .message-text {
  display: inline;
}

.message-bubble .timestamp {
  display: inline-block;
}

.message-bubble .timestamp-invisible-space {
  display: inline-block;
  visibility: hidden;
  margin-left: 1em;
}

.message-bubble .timestamp-invisible-space,
.message-bubble .timestamp-visible {
  font-size: 70%;
}

.message-bubble .timestamp-visible {
  user-select: none;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  opacity: 50%;
}

.message-sender {
  font-weight: bold;
  font-size: 70%;
  margin-bottom: 0.3em;
  opacity: 70%;
  color: black;
}

.message-text {
  overflow-wrap: anywhere;
  white-space: pre-line;
}

.after-bubbles {
  clear: both;
  margin-bottom: 1em;
}

.chat-header {
  flex-shrink: 0;
}

.chat-header-card {
  flex-shrink: 0;
  border-radius: 15px 15px 0 0;
}

.quoted-message {
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0.5em;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  font-size: 80%;
}

.message-row .quoted-message {
  margin-bottom: 0.5em;
}

.quoted-message .main-quote {
  flex-grow: 2;
}

.quoted-message .left-quote {
  background-color: grey;
  width: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 3px;
}
