.App-header {
  position: relative;
  background-color: #fff;
  height: 500px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}

.App-header .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: .5em;
  top: 0;
  left: 0;
  z-index: 1;
}

.App-header .name .nameChildOne {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: .9em;
  font-family: sans-serif;
  padding-top: 2px;
}

.App-header .name .nameChildTwo {
  color: rgba(235, 235, 235, 0.9);
  font-weight: bold;
  font-size: .8em;
  font-family: 'Roboto';
  padding-left: 7px;
  text-decoration: none;
}
