.App {
  text-align: center;
  font-family: 'Roboto';
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


.App-header {
  position: relative;
  background-color: #fff;
  height: 500px;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}

.App-header .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  /* font-weight: bold; */
  /* color: rgba(255, 255, 255, 0.9); */
  margin: 0;
  padding: .5em;
  top: 0;
  left: 0;
  z-index: 1;
}

.App-header .name .nameChildOne {
  color: rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: .9em;
  font-family: sans-serif;
  padding-top: 2px;
  /* text-decoration: none; */
}

.App-header .name .nameChildTwo {
  color: rgba(235, 235, 235, 0.9);
  font-weight: bold;
  font-size: .8em;
  font-family: 'Roboto';
  padding-left: 7px;
  text-decoration: none;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App-body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: black;
  top: 0;
  left: 1em;
  margin: 0;
}

footer{
  position:relative;
  bottom:0;
  display:block;  
  width:100%;
  min-height: 100%;
  background-color: #000;
  
}

/* footer hr{
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
} */